
body{
    background: black url('./../assets/backgrounds/stars.jpg') no-repeat fixed center;
}

:root {
    --jumbotron-padding-y: 3rem;
  }
  
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
}

@media (min-width: 768px) {
.jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}
  
.jumbotron-heading {
    font-weight: 300;
}
  
.jumbotron .container {
    max-width: 40rem;
}
  
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
footer p {
    margin-bottom: .25rem;
}
  
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
.yellow-background{background-color: #FFE81F !important}

.activeHeart{ color:red}

.modal-body {    
    background: black url('./../assets/backgrounds/stars.jpg') no-repeat fixed center;
}

.resize-img {object-fit: cover; object-position: top; max-height: 200px;}

.modal-header {
    background: black url('./../assets/images/modal-header-image.png') no-repeat fixed center;
    border-bottom: 1px solid #FFE81F !important;
}

.btn-close {
    color: #FFE81F;
}

.update-button{
    background-color: #FFE81F !important
}

.modal-dialog{
    max-width: 700px !important;
}

.select-max-width{ max-width: 150px; padding:5px; border-color: black; background: transparent;}

.modal-body .card{ height:350px}

